.videoSidebar {
    position: absolute;
    top: 33%;
    right: 10px;
    color: white;
}

.videoSidebar__button {
    padding: 20px;
    text-align: center;
}

.add {
    filter:invert(1);
}